*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

table td{

  overflow:auto;
  max-width: calc(100vw / 6);
  height: calc(100vw / 7);
  background-color: lightblue;
  padding: 5px
}

.right{
  float: right;
  padding: 5px;
  margin-top: 20px;
  margin-right: 200px;
}

.back{
  margin-bottom: 30px;
}